@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  --bgcl1: hsl(31, 77%, 52%); /* Bright orange */
  --bgcl2: hsl(184, 100%, 22%); /* Dark cyan */
  --bgcl3: hsl(179, 100%, 13%); /* Very dark cyan */

  --color4: hsla(0, 0%, 100%, 0.75); /* Transparent white (paragraphs) */
  --color5: hsl(
    0,
    0%,
    95%
  ); /* Very light gray (background, headings, buttons) */

  /* * font-family: 'Big Shoulders Display', cursive;
        font-family: 'Lexend Deca', sans-serif; */

  /* Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
    - Weights: 400

    - Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
    - Weights: 700 */
}

html,
body {
  margin: 0;
}

body {
  background-color: var(--color5);
}

.container {
  margin: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  padding: 0;
}
.content {
  max-width: 1110px;
  min-height: 500px;
  background-color: blue;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}
.cnt {
  padding: 6% 6% 5% 6%;
  display: flex;
  flex-direction: column;
}

img {
  height: 60px;
  width: 30%;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 40px;
  font-weight: 700px;
  text-transform: uppercase;
  color: var(--color5);
}

p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 100%;
  font-weight: 400px;
  line-height: 30px;
  color: var(--color4);
  padding-bottom: 40px;
}

.ind1 {
  background-color: var(--bgcl1);
  border-radius: 10px 0 0 10px;
}

.ind2 {
  background-color: var(--bgcl2);
}

.ind3 {
  background-color: var(--bgcl3);
  border-radius: 0 10px 10px 0;
}

button {
  background-color: var(--color5);
  color: inherit;
  /* width: 100px;
    border: 0; */

  border-radius: 20px;
  height: 40px;
  line-height: 25px;
  color: #ffffff;
  font-family: "Lexend Deca", sans-serif;
  width: 139px;
  font-size: 20px;
  font-weight: 100;
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: 0;
}

button:active {
  border: 2px solid var(--color5);
  height: 40px;
  line-height: 25px;
  color: var(--color5);
  font-family: "Lexend Deca", sans-serif;
  width: 139px;
  font-size: 20px;
  font-weight: 100;
  padding: 6px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn-1 {
  color: var(--bgcl1);
}

.btn-1:active {
  background-color: var(--bgcl1);
}

.btn-2 {
  color: var(--bgcl2);
}

.btn-2:active {
  background-color: var(--bgcl2);
}

.btn-3 {
  color: var(--bgcl3);
}

.btn-3:active {
  background-color: var(--bgcl3);
}

@media (max-width: 767.98px) {
  .content {
    flex-direction: column;
  }
  .ind1 {
    border-radius: 10px 10px 0 0;
  }

  .ind2 {
    background-color: var(--bgcl2);
  }

  .ind3 {
    border-radius: 0 0 10px 10px;
  }
}
